{#
Links for functions to manage Drupal accounts.
#}


{% set deleteDrupalUser = path('nlpservices.delete_drupal_accounts_form') %}
{% set manageDrupalUser = path('nlpservices.manage_drupal_accounts_form') %}
{% set addDrupalUser = path('nlpservices.add_drupal_account_form') %}
{% set remindUser = path('nlpservices.login_credentials_reminder_form') %}

{% trans %}

    <ul>
        <li><a href={{ manageDrupalUser }}>Manage login accounts for the NLP Services site.</a></li>
        <li><a href={{ addDrupalUser }}>Add a login account for the NLP Services site.</a></li>
        <li><a href={{ remindUser }}>Send an email to an NL with a login reminder.</a></li>
        <li><a href={{ deleteDrupalUser }}>Delete one or more login accounts for the NLP Services site.</a></li>
    </ul>

{% endtrans %}