<p>@nickname,</p>

<p>Thanks for volunteering to help get out the vote for the @county
    County Democratic Party.&nbsp; By becoming a Neighborhood Leader, you
    are doing the most important work in politics—talking with your
    neighbors and fellow voters.</p>

<p>The link below lets you log in to access your list of voters.&nbsp; Click
    the link and then type the username and password shown below (notice the
    dot between your first and last name).&nbsp; Please bookmark the website
    and keep your username and password handy.</p>

<p>Election Day is @electionDay, and ballots will be mailed about 18 days before,
    around @ballotDropDay.&nbsp; It is most effective if voters get the slate card
    soon after receiving their ballots, so that is when we will begin our
    canvass. </p>

@nlpLogin

<p>The process of logging in takes you to the Report Canvass Results page.&nbsp;
    From this page, you can print your walk sheet as well as a call list or
    postcard mailing list.&nbsp; This is also the page where you will report
    the results of your attempts to contact the voters.</p>

@plainNote

<p>Please contact me if you have any questions.<br />
    Thanks,</p>
@coordinatorContactInfo